* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #111;
    font-family: 'Audiowide', cursive;
}

.container {
    display: flex;
    width: 100vw;
    font-size: 6rem;
    color: #42d608;
    align-items: center;
    justify-content: center;
}

.container div {
    min-width: 75px;
    display: flex;
    justify-content: center;
}

.container div.two-dots {
    min-width: 10px;
}


